@import '_custom';

@import '~bootstrap/scss/bootstrap';

html,
body {
  font-size: 18px;
  background-color: $gray-200;
}
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

html,
body,
#root,
main {
  height: 100%;
}

.text-shadow-1 {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none !important;
}

#contents__page {
  color: $gray-800;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-size: 11px;
  padding-top: 4.5px;
  content: '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ';
}
ul.leaders span:first-child {
  padding-right: 0.33em;
  background: $gray-200;
}
ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: $gray-200;
}

#list__contents > li {
  display: flex;
  justify-content: space-between;
}
